<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Lugares cercanos</h2>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares" [ngSwitch]="lugar.cercania">
          <a>
            <li class="list-group-item">{{lugar.nombre}}-
              <span *ngSwitchCase="1">Muy cercano</span>
              <span *ngSwitchCase="2">Cercano</span>
              <span *ngSwitchCase="3">Lejano</span>
            </li>
          </a>
        </ng-container>
      </ul>
    </div>
    <div>
      <h2>Destacados</h2>
    </div>
  </div>

</div>